<?xml version="1.0" encoding='utf-8'?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <Product Id="FFFFFFFF-FF03-4003-BFEA-0008028F89FC" Name="Staden Package" Language="2057" Version="2.0.0.9" Manufacturer="MRC/WTSI" UpgradeCode="FFFFFFFE-FF03-4003-BFEA-0008028F89FC">

    <Package Description="Staden package Installer" Compressed="yes" Id="*"/>
    <Media Id="1" Cabinet="Data1.cab" EmbedCab="yes" CompressionLevel="high"/>
    <?include staden_files.wxi ?>
<!--    <?include ui.wxi ?> -->
    <UIRef Id="WixUI_InstallDir" />
    <UIRef Id="WixUI_ErrorProgressText" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
    <WixVariable Id="WixUILicenseRtf" Value="LICENCE.rtf"/>
    <WixVariable Id="WixUIBannerBmp" Value="banner.bmp"/>
    <WixVariable Id="WixUIDialogBmp" Value="splash.bmp"/>
  </Product>
</Wix>

